.flag{
    margin-top: 200px !important;
    border-radius: 5px;
    margin-bottom: 100px    ;
}

.left{
    margin-top: 239px !important;
}

.left h3{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans' sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: #111517;
    margin-bottom: 23px;
}

.left p{
    margin: 0;
    font-family: 'Nunito Sans' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #111517;
    margin-top: 5px;
}

.right{
    margin-top: 350px;
    position: relative;
}

.right p{
    margin: 0;
    margin-top: 5px;
}

@media only screen and (max-width: 1200px) {
    .left{
        margin-top: 150px !important;
    }
    .right{
        margin-top: 250px;
    }
}


@media only screen and (max-width: 1200px) {
    .flag{
        margin-top: 150px !important;
        width: 700px !important;
        margin: 0 auto;
    }
    .left{
        margin-top: 80px !important;
        margin-left: 11%;
    }
    .right{
        margin-top: 20px;
        margin-left: 11%;
    }
}

@media only screen and (max-width: 768px) {
    .left p{
        display: flex;
    }.left strong{
        margin-left: 20px;
    }
    .right p{
        display: flex;
    }

}
